{:paths ["src"]

 :deps {org.clojure/tools.logging {:mvn/version "1.1.0"}
        org.apache.kafka/kafka-clients {:mvn/version "2.8.0"}}

 :aliases {:dev {:extra-deps {metosin/jsonista {:mvn/version "0.3.3"}}}
           :outdated {:extra-deps {olical/depot {:mvn/version "2.0.1"}}
                      :main-opts  ["-m" "depot.outdated.main" "-a" "outdated"]}
           :tag {:extra-deps {tolitius/tag {:mvn/version "0.1.7"}}
                 :main-opts ["-m" "tag.core" "tolitius/grete" "is gregor's sister that adds a threadpool and a scheduler"]}
           :jar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.128"}}
                 :extra-paths ["target/about"]
                 :main-opts ["-m" "hf.depstar.jar" "target/grete.jar" "--exclude" "clojure/core/specs/alpha.*"]}
           :deploy {:extra-deps {deps-deploy/deps-deploy {:mvn/version "RELEASE"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "target/grete.jar"]}
           :install {:extra-deps {deps-deploy/deps-deploy {:mvn/version "RELEASE"}}
                     :main-opts ["-m" "deps-deploy.deps-deploy" "install" "target/grete.jar"]}}}
